<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lorem Ipsum</title>
</head>
<body>
  <h1> Exercicio 2 - Lorem Ipsum</h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id sem vel nulla ullamcorper fringilla. Quisque posuere, leo eu imperdiet vestibulum, enim metus ornare velit, sed lacinia augue justo vitae lacus. Donec quis risus ac turpis tristique vehicula. Phasellus congue scelerisque semper. Vivamus ac ligula ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque non leo et ipsum imperdiet varius nec eu elit. Quisque eu porttitor sapien.</p>
</body>
</html>